* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
}

/* common styles  */

.common-text {
    color: rgba(39,39,39,0.60);
    font-size: 18px;
    font-weight: 500;
    margin: 32px 0px;
    line-height: 30px;
}

.common-title {
    color: #272727;
    font-size: 40px;
    font-weight: 900;
}

/* Header Section Styles */

.banner-container {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-title {
    font-size: 80px;
    color: rgb(39, 39, 39);
    font-weight: 800;

}

.primary-btn {
    background: #E55473;
    color: white;
    font-size: 20px;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
}
.banner-image-container {
    margin-top: 50px;
    margin-bottom: -3px;
}

/* Main Section Styles */

/* Offer Section Styls Starts from Here */

.offer-container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05);
    height: 620px;
}

.offer-details-container {
    text-align: center;
}

.title-design {
    color: #E55473;
}

/* Social Media Section Styls Start from here*/

.social-media-container {
    margin-top: 130px;
    text-align: center;
}

.insta-picture {
    display: flex; 
    margin: 50px 240px;
    gap: 24px;
}

/* Subscribe Section Styles Start from Here */

.subscribe-section-container {
    text-align: center;
    margin: 140px 240px;
    background-image: url("./Flower Asset/Rectangle\ 9.png");
    background-repeat: no repeat;
    background-size: cover;
    padding:112px ;
    border-radius: 8px;
}

.email-section {
    padding: 24px 500px 24px 22px ;
    border: none;
    border-radius: 8px;
    margin-right: 16px;
}